<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sync Dynatrace Environments</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Angular JS-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

</head>

<body>
    <div class="container" ng-app="app" ng-controller="mainCtlr">
        <div class="panel panel-info">
            <div class="panel panel-heading">
                <h1>Information</h1>
            </div>
            <div class="panel panel-body">
                <p>Please take note of the following</p>
                <ul>
                    <li>This application updates/determines if it exists based upon the configuration rules NAME</li>
                    <li>Custom Services: currently ONLY transfers Java services</li>
                </ul>
            </div>
        </div>
        <div class="panel panel-primary">
            <form name="entryForm">
                <div class="panel panel-heading">
                    <h1>Dynatrace Environment</h1>
                </div>
                <div class="panel panel-body">

                    <div class="form-group">
                        <label>
                            Dynatrace Master Environment URL
                        </label>
                        <div class="alert alert-danger" ng-if='!entryForm.masterEnvURL.$valid && hasSubmitted' ng-cloak>
                            <div ng-message="required">Master Environment base url is required</div>
                        </div>
                        <input ng-disabled="isbtnRunDisabled()" name="masterEnvURL" ng-model="masterEnv.url" placeholder="https://example.live.dynatrace.com"
                            type="text" class="form-control" required></input>
                    </div>
                    <div class="form-group">
                        <label>
                            Master Token
                        </label>
                        <div class="alert alert-danger" ng-if='!entryForm.masterEnvToken.$valid  && hasSubmitted' ng-cloak>
                            <div ng-message="required">Master Environment token is required</div>
                        </div>
                        <input ng-disabled="isbtnRunDisabled()" name="masterEnvToken" ng-model="masterEnv.token" placeholder="123-45678910111zwbwq"
                            type="text" class="form-control" id="masterToken" required></input>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">Environments to sync</div>
                        <div class="panel-body">
                            <div ng-repeat="(i, env) in syncEnvs">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group col-sm-5">
                                            <label>
                                                Sync Environment URL
                                            </label>
                                            <div class="alert alert-danger" ng-if="!entryForm['syncEnvURL_' + $index].$valid  && hasSubmitted" ng-cloak>
                                                <div ng-message="required">Sync Environment URL is required</div>
                                            </div>
                                            <input ng-disabled="isbtnRunDisabled()" type="text" placeholder="https://example.live.dynatrace.com" class="form-control"
                                                name="syncEnvURL_{{i}}" ng-model="env.url" required></input>
                                        </div>
                                        <div class="form-group col-sm-5">
                                            <label>
                                                Sync Environment Token
                                            </label>
                                            <div class="alert alert-danger" ng-if="!entryForm['syncEnvToken_' + $index].$valid  && hasSubmitted" ng-cloak>
                                                <div ng-message="required">Sync Environment token is required</div>
                                            </div>
                                            <input ng-disabled="isbtnRunDisabled()" type="text" placeholder="123-45678910111zwbwq" class="form-control" name="syncEnvToken_{{i}}"
                                                ng-model="env.token" required></input>
                                        </div>
                                        <div class="form-group col-sm-1">
                                            <label>&nbsp;</label>
                                            <button ng-disabled="isbtnRunDisabled()" type="button" ng-click="removeSyncEnv(i)" ng-hide="2 > syncEnvs.length" class="btn btn-danger">Remove</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-12">
                                        <button ng-disabled="isbtnRunDisabled()" type="button" ng-click="addSyncEnv()" ng-hide="i  < (syncEnvs.length -1)" ng-disabled="isbtnRunDisabled()"
                                            class="btn btn-primary">Add</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="alert alert-danger" ng-if="(!entryForm.addNonExistingEnabled.$valid || !entryForm.updateExistingEnabled.$valid)  && hasSubmitted"
                                ng-cloak>
                                <div ng-message="required">Please select at least one of the following checkboxs</div>
                            </div>
                            <div class="form-group">
                                <label>
                                    Add non-existing rules
                                </label>
                                <input ng-disabled="isbtnRunDisabled()" name="updateExistingEnabled" ng-required="$scope.type == null" type="radio" ng-model="type"
                                    value="add">
                            </div>
                            <div class="form-group">
                                <label>
                                    Update existing rules
                                </label>
                                <input ng-disabled="isbtnRunDisabled()" name="addNonExistingEnabled" ng-required="$scope.type == null" type="radio" ng-model="type"
                                    value="update">
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="alert alert-danger" ng-if="(!entryForm.customServicesEnabled.$valid||!entryForm.requestAttributesEnabled.$valid || !entryForm.autoTaggingRulesEnabled.$valid || !entryForm.managementZonesRulesEnabled.$valid)  && hasSubmitted"
                                ng-cloak>
                                <div ng-message="required">Please select at least one of the following checkboxs</div>
                            </div>
                            <div class="form-group">
                                <label>
                                    Request Attributes
                                </label>
                                <input ng-disabled="isbtnRunDisabled()" name="requestAttributesEnabled" ng-required="$scope.rulesType == null" type="radio"
                                    ng-model="rulesType" value="reqAttr">
                            </div>
                            <div class="form-group">
                                <label>
                                    Autotag rules
                                </label>
                                <input ng-disabled="isbtnRunDisabled()" name="autoTaggingRulesEnabled" ng-required="$scope.rulesType == null" type="radio"
                                    ng-model="rulesType" value="autoTag">
                            </div>
                            <div class="form-group">
                                <label>
                                    Management zones rules
                                </label>
                                <input ng-disabled="isbtnRunDisabled()" name="managementZonesRulesEnabled" ng-required="$scope.rulesType == null" type="radio"
                                    ng-model="rulesType" value="managementZone">
                            </div>
                            <div class="form-group">
                                <label>
                                    Custom Services
                                </label>
                                <input ng-disabled="isbtnRunDisabled()" name="customServicesEnabled" ng-required="$scope.rulesType == null" type="radio"
                                    ng-model="rulesType" value="customServices">
                            </div>
                        </div>
                    </div>
                    <button type="button" ng-click="run()" ng-disabled="isbtnRunDisabled()" class="btn btn-primary" id="btnRun">Run</button>
                </div>
            </form>
        </div>
        <div class="panel panel-default">
            <div class="panel panel-heading">
                <h1>Logs
                    <img id="loading" ng-hide="!runIsDisabled" src="https://thumbs.gfycat.com/AggressiveGrouchyHammerkop-max-1mb.gif" width="50"
                        height="50" />
                </h1>
            </div>
            <div class="panel panel-body">
                <div id="log">
                </div>
            </div>
        </div>
</body>
<script>
    var app = angular.module('app', []);
    app.factory('retrieveDataService', function ($http, $q, $rootScope) {
        var getAllData = function (url, token, endPoint) {
            var fullURL = url + "/api/config/v1/" + endPoint + "?Api-Token=" + token;
            return $http({ method: "GET", url: fullURL }).then(function (result) {
                return { 'data': result.data, 'url': result.config.url };
            },
                function (data) {
                    if (data.status != 429) {
                        log("ERROR-----------------------------");
                        log("Status: " + data.status);
                        log("Status Text: " + data.statusText);
                        log("URL: " + data.config.url);
                        return null;
                    }
                    else {
                        log("HIT REQUEST LIMIT WAITING 60 SECONDS TO GET ALL DATA FOR " + url);
                        return sleep(60000).then(function () {
                            return getAllData(url, token, endPoint);
                        });
                    }
                });
        };
        var getDetailsData = function (url, id, token, endPoint) {
            var fullURL = url + "/api/config/v1/" + endPoint + "/" + id + "?Api-Token=" + token;
            return $http({ method: "GET", url: fullURL }).then(function (result) {
                return result.data;
            },
                function (data) {
                    if (data.status != 429) {
                        log("ERROR-----------------------------");
                        log("Status: " + data.status);
                        log("Status Text: " + data.statusText);
                        log("URL: " + data.config.url);
                        return null;
                    }
                    else {
                        log("HIT REQUEST LIMIT WAITING 60 SECONDS TO GET DETAILS FOR " + id + " ON " + url);
                        return sleep(60000).then(function () {
                            return getDetailsData(url, id, token, endPoint);
                        });
                    }
                }
            );
        };
        var addItem = function (url, token, details, endPoint) {
            var fullURL = url + "/api/config/v1/" + endPoint + "?Api-Token=" + token;
            return $http({ method: "POST", url: fullURL, data: details }).then(function (result) {
                return result.data;
            },
                function (data) {
                    if (data.status != 429) {
                        debugger;
                        log("ERROR-----------------------------");
                        log("Status: " + data.status);
                        log("Status Text: " + data.statusText);
                        log("URL: " + data.config.url);
                        return null;
                    }
                    else {
                        log("HIT REQUEST LIMIT WAITING 60 SECONDS TO ADD ITEM FOR " + details.name + " ON " + url);
                        return sleep(60000).then(function () {
                            return addItem(url, token, details, endPoint);
                        });
                    }
                });
        };
        var updateItem = function (url, token, details, endPoint) {
            var fullURL = url + "/api/config/v1/" + endPoint + "/" + details.id + "?Api-Token=" + token;
            log("MADE PUT TO: " + fullURL);
            return $http({ method: "PUT", url: fullURL, data: details }).then(function (result) {
                log("Response Code: " + result.status);
                return result.data;
            },
                function (data) {
                    if (data.status != 429) {
                        debugger;
                        log("ERROR-----------------------------");
                        log("Status: " + data.status);
                        log("Status Text: " + data.statusText);
                        log("URL: " + data.config.url);
                        return null;
                    }
                    else {
                        log("HIT REQUEST LIMIT WAITING 60 SECONDS TO UPDATE ITEM " + details.name + " ON " + url);
                        return sleep(60000).then(function () {
                            return updateItem(url, token, details, endPoint);
                        });
                    }
                });
        };
        function log(message) {
            $('#log').append('<p>' + message + '</p>');
        }
        var sleep = function (interval) {
            if (!(interval === parseFloat(interval)) || interval < 0)
                throw new Error("interval must be a positive float");

            var deferred = $q.defer();

            setTimeout(function () {
                $rootScope.$apply(function () {
                    deferred.resolve(interval);
                });
            }, interval);

            return deferred.promise;
        };
        return { getAllData: getAllData, getDetailsData: getDetailsData, addItem: addItem, updateItem: updateItem };
    });
    app.controller('mainCtlr', function ($scope, retrieveDataService, $q) {
        $scope.runIsDisabled = false;

        $scope.masterEnv = new Environment(null, null);
        $scope.syncEnvs = [
            new Environment(null,null)
        ];

        $scope.run = function () {
            $scope.hasSubmitted = true;
            if ($scope.entryForm.$valid) {
                $('#log').empty();
                $scope.runIsDisabled = true;
                if ($scope.rulesType == 'reqAttr') {
                    syncRules("requestAttributes", "values");
                }
                if ($scope.rulesType == 'autoTag') {
                    syncRules("autoTags", "values");
                }
                if ($scope.rulesType == 'managementZone') {
                    syncRules("managementZones", "values");
                }
                if ($scope.rulesType == 'customServices') {
                    syncRules("customServices/java", "customServices");
                    //syncRules("customServices/dotNet", "customServices");
                    //syncRules("customServices/php", "customServices");
                    // syncRules("customServices/go", "customServices");
                }
            }
        }
        $scope.addSyncEnv = function () {
            $scope.syncEnvs.push(new Environment(null, null))
        }
        $scope.removeSyncEnv = function (index) {
            $scope.syncEnvs.splice(index, 1);
        }
        $scope.isbtnRunDisabled = function () {
            return $scope.runIsDisabled;
        };
        function syncRules(endPoint, accessor) {
            getConfigurations(endPoint, accessor);
        }
        function getConfigurations(endPoint, accessor, isAdding) {
            log("GETTING MASTER ENVIRONMENT DATA " + $scope.masterEnv.url + " USING TOKEN " + $scope.masterEnv.token);
            var masterDataPromise = retrieveDataService.getAllData($scope.masterEnv.url, $scope.masterEnv.token, endPoint);
            masterDataPromise.then(function (masterResult) {
                if (masterResult != null) {
                    log("SUCCESS GETING DETAILS FOR MASTER ENV " + $scope.masterEnv.url);
                    $scope.masterEnv.config = masterResult.data[accessor];
                    getSyncEnvsConfig(endPoint, accessor);
                };
            });
        }
        function getSyncEnvsConfig(endPoint, accessor) {
            promises = []
            $scope.syncEnvs.forEach(env => {
                log("GETTING SYNC ENVIRONMENT DATA FOR " + env.url + " USING TOKEN " + env.token);
                promises.push(retrieveDataService.getAllData(env.url, env.token, endPoint));
            });
            $q.all(promises).then(function (syncResults) {
                if (syncResults != null) {
                    $scope.syncEnvs.forEach(env => {
                        var response = syncResults.filter(function (item) {
                            return item.url.includes(env.url);
                        })[0];
                        env.config = response.data[accessor]
                    });
                    getItemDetailsForMaster(endPoint);

                };
            });
        }
        function getItemDetailsForMaster(endPoint) {
            promises = []
            $scope.masterEnv.config.forEach(item => {
                log("GETTING DETAILS FOR " + item.name + " IN " + $scope.masterEnv.url);
                promises.push(retrieveDataService.getDetailsData($scope.masterEnv.url, item.id, $scope.masterEnv.token, endPoint));
            });
            $q.all(promises).then(function (itemResults) {
                if (itemResults != null) {
                    $scope.masterEnv.config = itemResults;
                    if ($scope.type == 'add') {
                        getItemDetailsForAdding(endPoint);
                    };
                    if ($scope.type == 'update') {
                        getItemDetailsForUpdating(endPoint);
                    };
                };
            });
        }
        function getItemDetailsForAdding(endPoint, env) {
            var diff = [];
            $scope.syncEnvs.forEach(env => {
                comp = compare($scope.masterEnv.config, env.config, env.url, env.token);
                diff = diff.concat(comp);

            });
            addItems(diff, endPoint)
        }
        function getItemDetailsForUpdating(endPoint) {

            items = []
            $scope.masterEnv.config.forEach(details => {
                $scope.syncEnvs.forEach(env => {
                    var syncItem = findItem(details.name, env.config);
                    if (syncItem != null) {
                        newDetails = JSON.parse(JSON.stringify(details));
                        newDetails.id = syncItem.id;
                        newDetails.name = syncItem.name;
                        items.push({ 'rule': newDetails, 'url': env.url, 'token': env.token });
                    }
                });
            });
            updateItems(items, endPoint)
        }

        function addItems(list, endPoint) {
            promises = []
            list.forEach(item => {
                details = item.rule
                log("CREATING RULE FOR " + details.name + " IN " + item.url);
                details = item.rule
                delete details.id;
                if (details.rules != undefined) {
                    details.rules.forEach(element => {
                        delete element.id;
                        if (element.methodRules != undefined) {
                            element.methodRules.forEach(item => {
                                delete item.id;
                            });
                        }
                    });
                }
                promises.push(retrieveDataService.addItem(item.url, item.token, details, endPoint));
            });
            if (promises.length == 0) {
                $scope.runIsDisabled = false;
            }
            else {
                $q.all(promises).then(function (addResults) {
                    addResults.forEach(element => {
                        log('id: ' + element.id + ' name: ' + element.name);
                        $scope.runIsDisabled = false;
                    });
                });
            }
        }
        function updateItems(list, endPoint) {
            promises = []
            list.forEach(item => {
                details = item.rule
                log("UPDATING RULE FOR " + details.name + " IN " + item.url);
                promises.push(retrieveDataService.updateItem(item.url, item.token, details, endPoint));
            });
            if (promises.length == 0) {
                $scope.runIsDisabled = false;
            }
            else {
                $q.all(promises).then(function (addResults) {
                    $scope.runIsDisabled = false;

                });
            }
        }
        function findItem(name, list) {
            var id = '';
            var responseName = '';
            list.forEach(item => {
                if (item.name.toLowerCase().replace(/ /g, '') == name.toLowerCase().replace(/ /g, '')) {
                    id = item.id;
                    responseName = item.name;
                }
            });

            if (id != '') {
                return { 'id': id, 'name': responseName };
            }
            return null
        }


        function compare(listA, listB, url, token) {
            var diff = []
            listA.forEach(element => {
                var isInList = false;
                for (var i = 0; i < listB.length; i++) {
                    if (element.name.toLowerCase() == listB[i].name.toLowerCase()) {
                        isInList = true;
                    }
                }
                if (!isInList) {
                    diff.push({ 'rule': element, 'url': url, 'token': token });
                }
            });
            return diff;
        }
        function log(message) {
            $('#log').append('<p>' + message + '</p>');
        }
    });
    class Environment {
        constructor(url, token) {
            this.url = url;
            this.token = token;
            this.config = null;
        };
    }
</script>