<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sync Dynatrace Environments</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Angular JS-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

</head>

<body>
    <div class="container" ng-app="app" ng-controller="mainCtlr">
        <div class="panel panel-info">
            <div class="panel panel-heading">
                <h1>Information</h1>
            </div>
            <div class="panel panel-body">
                <p>Please take note of the following</p>
                <ul>
                    <li>This application updates/determines if it exists based upon the configuration rules NAME</li>
                </ul>
            </div>
        </div>

        <div class="panel panel-primary">
            <form name="entryFormDTEnv">
                <div class="panel panel-heading">
                    <h1>Dynatrace Environment</h1>
                </div>
                <div class="panel panel-body">
                    <div class="form-group">
                        <label>
                            Dynatrace Environment URL
                        </label>
                        <div class="alert alert-danger" ng-if='!entryFormDTEnv.masterEnvURL.$valid && hasSubmittedDTenv' ng-cloak>
                            <div ng-message="required">Master Environment base url is required</div>
                        </div>
                        <input ng-disabled="isbtnRunDisabled()" name="masterEnvURL" ng-model="masterEnv.url" placeholder="https://example.live.dynatrace.com"
                            type="text" class="form-control" required></input>
                    </div>
                    <div class="form-group">
                        <label>
                            Master Token
                        </label>
                        <div class="alert alert-danger" ng-if='!entryFormDTEnv.masterEnvToken.$valid  && hasSubmittedDTenv' ng-cloak>
                            <div ng-message="required">Master Environment token is required</div>
                        </div>
                        <input ng-disabled="isbtnRunDisabled()" name="masterEnvToken" ng-model="masterEnv.token" placeholder="123-45678910111zwbwq"
                            type="text" class="form-control" id="masterToken" required></input>
                    </div>
                </div>
            </form>
        </div>

        <div class="panel panel-primary">
            <form name="entryForm">
                <div class="panel panel-heading">
                    <h1>Sync Environment</h1>
                </div>
                <div class="panel panel-body">
                    <div class="panel panel-default">
                        <div class="panel-heading">Environments to sync</div>
                        <div class="panel-body">
                            <div ng-repeat="(i, env) in syncEnvs">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group col-sm-5">
                                            <label>
                                                Sync Environment URL
                                            </label>
                                            <div class="alert alert-danger" ng-if="!entryForm['syncEnvURL_' + $index].$valid  && hasSubmitted" ng-cloak>
                                                <div ng-message="required">Sync Environment URL is required</div>
                                            </div>
                                            <input ng-disabled="isbtnRunDisabled()" type="text" placeholder="https://example.live.dynatrace.com" class="form-control"
                                                name="syncEnvURL_{{i}}" ng-model="env.url" required></input>
                                        </div>
                                        <div class="form-group col-sm-5">
                                            <label>
                                                Sync Environment Token
                                            </label>
                                            <div class="alert alert-danger" ng-if="!entryForm['syncEnvToken_' + $index].$valid  && hasSubmitted" ng-cloak>
                                                <div ng-message="required">Sync Environment token is required</div>
                                            </div>
                                            <input ng-disabled="isbtnRunDisabled()" type="text" placeholder="123-45678910111zwbwq" class="form-control" name="syncEnvToken_{{i}}"
                                                ng-model="env.token" required></input>
                                        </div>
                                        <div class="form-group col-sm-1">
                                            <label>&nbsp;</label>
                                            <button ng-disabled="isbtnRunDisabled()" type="button" ng-click="removeSyncEnv(i)" ng-hide="2 > syncEnvs.length" class="btn btn-danger">Remove</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-12">
                                        <button ng-disabled="isbtnRunDisabled()" type="button" ng-click="addSyncEnv()" ng-hide="i  < (syncEnvs.length -1)" ng-disabled="isbtnRunDisabled()"
                                            class="btn btn-primary">Add</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="alert alert-danger" ng-if="(!entryForm.addNonExistingEnabled.$valid || !entryForm.updateExistingEnabled.$valid)  && hasSubmitted"
                                ng-cloak>
                                <div ng-message="required">Please select at least one of the following checkboxs</div>
                            </div>
                            <div class="form-group">
                                <label>
                                    Add non-existing rules
                                </label>
                                <input ng-disabled="isbtnRunDisabled()" name="updateExistingEnabled" ng-required="$scope.type == null" type="radio" ng-model="type"
                                    value="add">
                            </div>
                            <div class="form-group">
                                <label>
                                    Update existing rules
                                </label>
                                <input ng-disabled="isbtnRunDisabled()" name="addNonExistingEnabled" ng-required="$scope.type == null" type="radio" ng-model="type"
                                    value="update">
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="alert alert-danger" ng-if="(!entryForm.customServicesEnabled.$valid ||!entryForm.requestAttributesEnabled.$valid || !entryForm.autoTaggingRulesEnabled.$valid || !entryForm.managementZonesRulesEnabled.$valid)  && hasSubmitted"
                                ng-cloak>
                                <div ng-message="required">Please select at least one of the following checkboxs</div>
                            </div>
                            <div class="form-group">
                                <label>
                                    Request Attributes
                                </label>
                                <input ng-disabled="isbtnRunDisabled()" name="requestAttributesEnabled" ng-required="$scope.rulesType == null" type="radio"
                                    ng-model="rulesType" value="reqAttr">
                            </div>
                            <div class="form-group">
                                <label>
                                    Autotag rules
                                </label>
                                <input ng-disabled="isbtnRunDisabled()" name="autoTaggingRulesEnabled" ng-required="$scope.rulesType == null" type="radio"
                                    ng-model="rulesType" value="autoTag">
                            </div>
                            <div class="form-group">
                                <label>
                                    Management zones rules
                                </label>
                                <input ng-disabled="isbtnRunDisabled()" name="managementZonesRulesEnabled" ng-required="$scope.rulesType == null" type="radio"
                                    ng-model="rulesType" value="managementZone">
                            </div>
                            <div class="form-group">
                                <label>
                                    Custom Services
                                </label>
                                <input ng-disabled="isbtnRunDisabled()" name="customServicesEnabled" ng-required="$scope.rulesType == null" type="radio"
                                    ng-model="rulesType" value="customServices">
                            </div>
                        </div>
                    </div>
                    <button type="button" ng-click="run()" ng-disabled="isbtnRunDisabled()" class="btn btn-primary" id="btnRun">Run</button>
                </div>
            </form>
        </div>

        <!-- Create Management Zones -->

        <div class="panel panel-primary">
            <form name="entryFormMZ">
                <div class="panel panel-heading">
                    <h1>Create Management Zones based on Host Groups</h1>
                    <p>This button will analyze your environment and create a Management Zone for each Host group that you have in the master environment.</p>
                    <div class="alert alert-danger" ng-if='sowError' ng-cloak>
                        <div ng-message="required">You are missing some required fields</div>
                    </div>
                </div>
                <div class="panel panel-body">
                    <button type="button" ng-click="run2()" ng-disabled="isbtnRunDisabled()" class="btn btn-primary" id="btnRun">Run</button>
                </div>
            </form>
        </div>
        <!-- end Create Management Zones -->
       <!-- Create Create Sythetic HTTP Montiors From Services -->

        <div class="panel panel-primary">
            <form name="entryFormHTTPMon">
                <div class="panel panel-heading">
                    <h1>Create Sythetic Montiors based on health  end-point</h1>
                    <p>This will look at all the services and create a HTTP monitor if it fits the following criteria:</p>
                    <p>
                    <ul>
                          <li>Health end-point specified has responded with a HTTP status code 200</li>
                          <li>It is tagged with <b>HTTPMonitor</b></li>
                    </ul>
                    </p>
                    <div class="alert alert-danger" ng-if='!entryFormDTEnv.$valid && hasSubmittedHTTPMon' ng-cloak>
                        <div ng-message="required">You are missing some required fields</div>
                    </div>
                </div>
                <div class="panel panel-body">
                    <div class="form-group">
                        <label>
                            End-point
                        </label>
                        <div class="alert alert-danger" ng-if='!entryFormHTTPMon.endPointForHTTPMon.$valid && hasSubmittedHTTPMon' ng-cloak>
                            <div ng-message="required">End-point is required</div>
                        </div>
                        <input ng-disabled="isbtnRunDisabled()" name="endPointForHTTPMon" ng-model="endPointForHTTPMon" placeholder="https://example.live.dynatrace.com"
                            type="text" class="form-control" required></input>
                    </div>
                     <div class="form-group">
                        <label>
                            Location
                        </label>
                        <div class="alert alert-danger" ng-if='!entryFormHTTPMon.locationForHTTPMon.$valid && hasSubmittedHTTPMon' ng-cloak>
                            <div ng-message="required">Location is required</div>
                        </div>
                        <input ng-disabled="isbtnRunDisabled()" name="locationForHTTPMon" ng-model="locationForHTTPMon" placeholder="QA"
                            type="text" class="form-control" required></input>
                    </div>
                    <div class="form-group">
                        <label>
                            Port (leave blank if you want to use the default)
                        </label>
                        <input ng-disabled="isbtnRunDisabled()" name="portForHTTPMon" ng-model="portForHTTPMon" placeholder="433"
                            type="text" class="form-control"></input>
                    </div>
                    <button type="button" ng-click="createSytheticHTTPMontiors()" ng-disabled="isbtnRunDisabled()" class="btn btn-primary" id="btnRun">Run</button>
                </div>
            </form>
        </div>
        <!-- end Create Sythetic HTTP Montiors from Services -->




        <div class="panel panel-default">
            <div class="panel panel-heading">
                <h1>Logs
                    <img id="loading" ng-hide="!runIsDisabled" src="https://thumbs.gfycat.com/AggressiveGrouchyHammerkop-max-1mb.gif" width="50"
                        height="50" />
                </h1>
            </div>
            <div class="panel panel-body">
                <div id="log">
                </div>
            </div>
        </div>
</body>
<script>
    var app = angular.module('app', []);
    app.factory('retrieveDataService', function ($http, $q, $rootScope) {
        var getAllData = function (url, token, endPoint, isConfig, mz = null) {
            if (mz == null)
            {
            var fullURL = url + (isConfig ? "/api/config/v1/" : "/api/v1/") + endPoint + "?Api-Token=" + token;
            }
            else
            {
                var fullURL = url + (isConfig ? "/api/config/v1/" : "/api/v1/") + endPoint + "?Api-Token=" + token + "&tag=Environment:" + mz;
            }
            var req = {
                method: 'GET',
                url: fullURL,
                headers: {
                    'Access-Control-Allow-Origin':'*',
                    'Access-Control-Allow-Credentials': 'true',
                    }
                };
            return $http(req).then(function (result) {
                return { 'data': result.data, 'url': result.config.url };
            },
                function (data) {
                    if (data.status != 429) {
                        log("ERROR-----------------------------");
                        log("Status: " + data.status);
                        log("Status Text: " + data.statusText);
                        log("URL: " + data.config.url);
                        return null;
                    }
                    else {
                        log("HIT REQUEST LIMIT WAITING 60 SECONDS TO GET ALL DATA FOR " + url);
                        return sleep(60000).then(function () {
                            return getAllData(url, token, endPoint, config);
                        });
                    }
                });
        };
        var getDetailsData = function (url, id, token, endPoint, config) {
            var fullURL = url + (config ? "/api/config/v1/" : "/api/v1/") + endPoint + "/" + id + "?Api-Token=" + token;
            return $http({ method: "GET", url: fullURL }).then(function (result) {
                return result.data;
            },
                function (data) {
                    if (data.status != 429) {
                        log("ERROR-----------------------------");
                        log("Status: " + data.status);
                        log("Status Text: " + data.statusText);
                        log("URL: " + data.config.url);
                        return null;
                    }
                    else {
                        log("HIT REQUEST LIMIT WAITING 60 SECONDS TO GET DETAILS FOR " + id + " ON " + url);
                        return sleep(60000).then(function () {
                            return getDetailsData(url, id, token, endPoint);
                        });
                    }
                }
            );
        };
        var addItem = function (url, token, details, endPoint, config) {
            var fullURL = url + (config ? "/api/config/v1/" : "/api/v1/") + endPoint + "?Api-Token=" + token;
            log("MADE POST TO: " + fullURL);
            return $http({ method: "POST", url: fullURL, data: details }).then(function (result) {
                return result.data;
            },
                function (data) {
                    if (data.status != 429) {
                        log("ERROR-----------------------------");
                        log("Status: " + data.status);
                        log("Status Text: " + data.statusText);
                        log("URL: " + data.config.url);
                        return null;
                    }
                    else {
                        log("HIT REQUEST LIMIT WAITING 60 SECONDS TO ADD ITEM FOR " + details.name + " ON " + url);
                        return sleep(60000).then(function () {
                            return addItem(url, token, details, endPoint);
                        });
                    }
                });
        };
        var updateItem = function (url, token, details, endPoint, config) {
            var fullURL = url + (config ? "/api/config/v1/" : "/api/v1/") + endPoint + "/" + details.id + "?Api-Token=" + token;
            log("MADE PUT TO: " + fullURL);
            return $http({ method: "PUT", url: fullURL, data: details }).then(function (result) {
                log("Response Code: " + result.status);
                return result.data;
            },
                function (data) {
                    if (data.status != 429) {
                        log("ERROR-----------------------------");
                        log("Status: " + data.status);
                        log("Status Text: " + data.statusText);
                        log("URL: " + data.config.url);
                        return null;
                    }
                    else {
                        log("HIT REQUEST LIMIT WAITING 60 SECONDS TO UPDATE ITEM " + details.name + " ON " + url);
                        return sleep(60000).then(function () {
                        });
                    }
                });
        };

        var checkIfValidRequest = function (url, service)
        {
            var req = {
                method: 'GET',
                url: url,
                headers: {
                    'Access-Control-Allow-Origin':'https://s3.us-east-2.amazonaws.com',
                    'Access-Control-Allow-Credentials': true,
                    'Access-Control-Allow-Headers':true
                    }
                };
            return $http(req).then(function (result) {
                log("Response Code: " + result.status);
                result.service = service;
                return result;
            },
                function (data) {
                    if (data.status != 200) {
                        data.service = service;
                        return data;
                    }
                });
        }


        function log(message) {
            $('#log').append('<p>' + message + '</p>');
        }
        var sleep = function (interval) {
            if (!(interval === parseFloat(interval)) || interval < 0)
                throw new Error("interval must be a positive float");

            var deferred = $q.defer();

            setTimeout(function () {
                $rootScope.$apply(function () {
                    deferred.resolve(interval);
                });
            }, interval);

            return deferred.promise;
        };
        return { getAllData: getAllData, getDetailsData: getDetailsData, addItem: addItem, updateItem: updateItem, checkIfValidRequest : checkIfValidRequest };
    });
    app.controller('mainCtlr', function ($scope, retrieveDataService, $q) {
        $scope.runIsDisabled = false;


        $scope.masterEnv = new Environment(null, null);
	    $scope.syncEnvs = [
	        new Environment(null, null)
        ];

        $scope.endPointForHTTPMon = '/admin/health';
        $scope.locationForHTTPMon =null;
        $scope.portForHTTPMon = null;

        $scope.currentRequests = 0;

        $scope.type = null;
        $scope.rulesType = null

        $scope.hasSubmitted = false;

        $scope.hasSubmittedDTenv = false;

        $scope.hasSubmittedHTTPMon = false;
        $scope.sowError = false;

        $scope.hasUpdatedLog = false;
        $scope.checkIfDone = function () {
            var handler = setInterval(function () {

                if ($scope.hasUpdatedLog) {
                    $scope.hasUpdatedLog = false
                }
                else if (!$scope.hasUpdatedLog && $scope.currentRequests == 0) {
                    $scope.$apply(function () {
                        $scope.runIsDisabled = false;
                    })
                    clearInterval(handler);
                }
            }, 2000);
        }
        $scope.run = function () {
            $scope.hasSubmitted = true;
            $scope.hasSubmittedDTenv = true;
            if ($scope.entryForm.$valid) {
                $('#log').empty();
                $scope.runIsDisabled = true;
                if ($scope.rulesType == 'reqAttr') {
                    syncRules("requestAttributes", "values");
                }
                if ($scope.rulesType == 'autoTag') {
                    syncRules("autoTags", "values");
                }
                if ($scope.rulesType == 'managementZone') {
                    syncRules("managementZones", "values");
                }
                if ($scope.rulesType == 'customServices') {
                    syncRules("customServices/java", "values");
                    //syncRules("customServices/dotNet", "values");
                    //syncRules("customServices/php", "customServices");
                    // syncRules("customServices/go", "customServices");
                }
                $scope.checkIfDone();
            }
        }
        
        $scope.run2 = function () {
            $scope.sowError = false;
            $scope.hasSubmittedDTenv = true;
            if ($scope.entryFormDTEnv.$valid) {
                $('#log').empty();
                getMZandHGConfigurations()
                $scope.checkIfDone();
            }else{
                $scope.sowError = true;
            }
        }

        $scope.createSytheticHTTPMontiors = function () {
            $scope.hasSubmittedHTTPMon = true;
            $scope.hasSubmittedDTenv = true;
            if ($scope.entryFormHTTPMon.$valid && $scope.entryFormDTEnv.$valid) {
                $('#log').empty();
                getServicesToCreateMonitors();
                $scope.checkIfDone();
            }
        }

        function getServicesToCreateMonitors() {
            promises = []
            promises.push(retrieveDataService.getAllData($scope.masterEnv.url, $scope.masterEnv.token, "entity/services", false, $scope.locationForHTTPMon));
            promises.push(retrieveDataService.getAllData($scope.masterEnv.url, $scope.masterEnv.token, "synthetic/monitors", false));
            promises.push(retrieveDataService.getAllData($scope.masterEnv.url, $scope.masterEnv.token, "synthetic/locations", false));
            $scope.currentRequests++
            $q.all(promises).then(function (masterResult) {
                $scope.currentRequests--;
                if (masterResult != null) {
                    services = [];
                    montiors = masterResult[1]['data']['monitors'];
                    locations = masterResult[2]['data']['locations'];
                    if(locations != undefined)
                    {
                        searchedLocation  = locations.filter(x => x.name ===  $scope.locationForHTTPMon);
                    }
                    if(locations != undefined && searchedLocation.length > 0){
                        searchedLocation = searchedLocation[0];

                        masterResult[0]['data'].forEach( service =>
                        {
                            isTagFound = false;
                            service.tags.forEach(tag =>
                            {
                                if(tag.key == "HTTPMonitor")
                                {
                                    isTagFound = true;
                                    }
                            })
                            if(isTagFound)
                            {
                                 if(montiors.filter(obj => obj.name == service.displayName + " - Health Check").length < 1)
                                 {
                                     serv = {
                                    'domain': service.webServerName,
                                    'displayName': service.displayName};
                                    if($scope.portForHTTPMon != null)
                                    {
                                        serv.domain = serv.domain.split(":")[0] + ":" + $scope.portForHTTPMon;
                                    }
                                    
                                    services.push(serv);
                                 }
                                 else
                                 {
                                     log(service.displayName + " Already exists")
                                 }
                            }
                        
                    });
                    //  checkIfValidRequest(services,searchedLocation);
                    addHTTMon(services,searchedLocation);
                    }
                    else
                    {
                        log("Location not found");
                    }
                                                      
            }
            });
        }

        function getMZandHGConfigurations() {
            $scope.masterEnv.manageZones = [ ]
            $scope.masterEnv.hostGroup = [ ]
            log("GETTING MASTER ENVIRONMENT DATA " + $scope.masterEnv.url + " USING TOKEN " + $scope.masterEnv.token);

            //get info of Management zones
            var masterDataPromise = retrieveDataService.getAllData($scope.masterEnv.url, $scope.masterEnv.token, "managementZones", true)

            $scope.currentRequests++;
            masterDataPromise.then(function (masterResult) {
                $scope.currentRequests--;
                if (masterResult != null) {
                    log("SUCCESS GETING MANAGEMENT ZONES DETAILS OF " + $scope.masterEnv.url);
                    $scope.masterEnv.config = masterResult["values"];
                    
                    $scope.masterEnv.config.forEach(mz => {
                        if (!$scope.masterEnv.manageZones.includes(mz["name"])){
                            $scope.masterEnv.manageZones.push(mz["name"])
                        }
                    });

                    // Get info from Host Groups
                    var masterDataPromise = retrieveDataService.getAllData($scope.masterEnv.url, $scope.masterEnv.token, "entity/infrastructure/hosts", false);

                    masterDataPromise.then((masterResult) => {
                        if (masterResult != null) {
                            log("SUCCESS GETING HOST GROUPS DETAILS OF " + $scope.masterEnv.url);
                            masterResult.forEach(hg => {
                                if (hg["hostGroup"] != undefined){
                                    var temp = hg["hostGroup"] 
                                    if (!$scope.masterEnv.hostGroup.includes(temp["name"]) && !$scope.masterEnv.manageZones.includes("@" + temp["name"])){
                                        $scope.masterEnv.hostGroup.push(temp["name"])
                                    }
                                }
                            })
                            if($scope.masterEnv.hostGroup.length > 0){

                                addMZ($scope.masterEnv.hostGroup)
                            }
                            else{
                                log("ALL THE HOST GROUPS ALREADY HAVE A MANAGEMENT ZONE")
                            }
                        };
                    });
                };
            });
        }

        function addMZ(MZList) {
            log("CREATING MZ FOR " + MZList + " IN " + $scope.masterEnv.url);
            MZList.forEach(MZ => {
                // modify this section if you want to use different rules for your management zone
                var details = {
                    "name": "@" + MZ,
                    "rules": [
                        {
                            "type": "SERVICE",
                            "enabled": true,
                            "propagationTypes": [],
                            "conditions": [
                                {
                                    "key": {
                                        "attribute": "HOST_GROUP_NAME"
                                    },
                                    "comparisonInfo": {
                                        "type": "STRING",
                                        "operator": "EQUALS",
                                        "value": MZ,
                                        "negate": false,
                                        "caseSensitive": true
                                    }
                                }
                            ]
                        },
                        {
                            "type": "PROCESS_GROUP",
                            "enabled": true,
                            "propagationTypes": [],
                            "conditions": [
                                {
                                    "key": {
                                        "attribute": "HOST_GROUP_NAME"
                                    },
                                    "comparisonInfo": {
                                        "type": "STRING",
                                        "operator": "EQUALS",
                                        "value": MZ,
                                        "negate": false,
                                        "caseSensitive": true
                                    }
                                }
                            ]
                        },
                        {
                            "type": "HOST",
                            "enabled": true,
                            "propagationTypes": [],
                            "conditions": [
                                {
                                    "key": {
                                        "attribute": "HOST_GROUP_NAME"
                                    },
                                    "comparisonInfo": {
                                        "type": "STRING",
                                        "operator": "EQUALS",
                                        "value": MZ,
                                        "negate": false,
                                        "caseSensitive": true
                                    }
                                }
                            ]
                        }
                    ]
                }
                var postItemDataPromise = retrieveDataService.addItem($scope.masterEnv.url, $scope.masterEnv.token, details, "managementZones", true);
            } )
        }
                
         function checkIfValidRequest(services, httpLocation) {
            promises = []
            services.forEach(serv => {
                // modify this section if you want to use different rules for your http mmonitor
                promises.push(retrieveDataService.checkIfValidRequest("https://" + serv.domain +$scope.endPointForHTTPMon,serv));
                
            } );
            $scope.currentRequests++
            $q.all(promises).then(function (masterResult) {
                $scope.currentRequests--;
                if (masterResult != null) {
                    masterResult.forEach(result =>{
                        if(result.status == 404 || result.status == 502 || result.status == -1)
                        {
                            services = services.filter( x => x != result.service);
                            log(result.service.domain + " Responded with a 404 or 502");
                        };
                    });
                    addHTTMon(services,httpLocation);
                }
                });
            
         }    


         function addHTTMon(services, httpLocation) {
            promises = []
            services.forEach(serv => {
                log("CREATING HTTP MON FOR " + serv.domain + " IN " + $scope.masterEnv.url);
                // modify this section if you want to use different rules for your http mmonitor
                var details = {
                    "frequencyMin": 5,
                    "type": "HTTP",
                    "name": serv.displayName+ " - Health Check",
                    "locations": [httpLocation.entityId],
                    "enabled": true,
                    "script": {
                        "version": "1.0",
                        "requests": [
                        {
                            "description": serv.displayName + " - Health Check",
                            "url": "https://" + serv.domain +$scope.endPointForHTTPMon ,
                            "method": "GET",
                            "requestBody": "",
                            "configuration": {
                                "acceptAnyCertificate": true,
                                "followRedirects": true
                                }
                        }]
                    },
                    "anomalyDetection": {
                        "outageHandling": {
                            "globalOutage": false,
                            "localOutage": true,
                            "localOutagePolicy": {
                                "affectedLocations": 1,
                                "consecutiveRuns": 3
                                }
                        },
                        "loadingTimeThresholds": {
                            "enabled": false,
                            "thresholds": [
                            {
                                "type": "TOTAL",
                                "valueMs": 0
                            }]
                }
            },
                }
                
                promises.push(retrieveDataService.addItem($scope.masterEnv.url, $scope.masterEnv.token, details, "synthetic/monitors", false));
            } );
            $scope.currentRequests++
            $q.all(promises).then(function (masterResult) {
                $scope.currentRequests--;
                if (masterResult != null) {

                }
                });
         }       
        
         $scope.addSyncEnv = function () {
            $scope.syncEnvs.push(new Environment(null, null))
        }
        $scope.removeSyncEnv = function (index) {
            $scope.syncEnvs.splice(index, 1);
        }
        $scope.isbtnRunDisabled = function () {
            return $scope.runIsDisabled;
        };
        function syncRules(endPoint, accessor) {
            getConfigurations(endPoint, accessor);
        }
        function getConfigurations(endPoint, accessor, isAdding) {
            log("GETTING MASTER ENVIRONMENT DATA " + $scope.masterEnv.url + " USING TOKEN " + $scope.masterEnv.token);
            var masterDataPromise = retrieveDataService.getAllData($scope.masterEnv.url, $scope.masterEnv.token, endPoint, true);
            masterDataPromise.then(function (masterResult) {
                if (masterResult != null) {
                    log("SUCCESS GETING DETAILS FOR MASTER ENV " + $scope.masterEnv.url);
                    $scope.masterEnv.config = masterResult.data[accessor];
                    getSyncEnvsConfig(endPoint, accessor);
                };
            });
        }
        function getSyncEnvsConfig(endPoint, accessor) {
            promises = []
            $scope.syncEnvs.forEach(env => {
                log("GETTING SYNC ENVIRONMENT DATA FOR " + env.url + " USING TOKEN " + env.token);
                promises.push(retrieveDataService.getAllData(env.url, env.token, endPoint,true));
            });
            $q.all(promises).then(function (syncResults) {
                if (syncResults != null) {
                    $scope.syncEnvs.forEach(env => {
                        var response = syncResults.filter(function (item) {
                            return item.url.includes(env.url);
                        })[0];
                        env.config = response.data[accessor]
                    });
                    getItemDetailsForMaster(endPoint);

                };
            });
        }
        function getItemDetailsForMaster(endPoint) {
            promises = []
            $scope.masterEnv.config.forEach(item => {
                log("GETTING DETAILS FOR " + item.name + " IN " + $scope.masterEnv.url);
                promises.push(retrieveDataService.getDetailsData($scope.masterEnv.url, item.id, $scope.masterEnv.token, endPoint,true));
            });
            $q.all(promises).then(function (itemResults) {
                if (itemResults != null) {
                    $scope.masterEnv.config = itemResults;
                    if ($scope.type == 'add') {
                        getItemDetailsForAdding(endPoint);
                    };
                    if ($scope.type == 'update') {
                        getItemDetailsForUpdating(endPoint);
                    };
                };
            });
        }
        function getItemDetailsForAdding(endPoint, env) {
            var diff = [];
            $scope.syncEnvs.forEach(env => {
                comp = compare($scope.masterEnv.config, env.config, env.url, env.token);
                diff = diff.concat(comp);

            });
            addItems(diff, endPoint)
        }
        function getItemDetailsForUpdating(endPoint) {

            items = []
            $scope.masterEnv.config.forEach(details => {
                $scope.syncEnvs.forEach(env => {
                    var syncItem = findItem(details.name, env.config);
                    if (syncItem != null) {
                        newDetails = JSON.parse(JSON.stringify(details));
                        newDetails.id = syncItem.id;
                        newDetails.name = syncItem.name;
                        items.push({ 'rule': newDetails, 'url': env.url, 'token': env.token });
                    }
                });
            });
            updateItems(items, endPoint)
        }

        function addItems(list, endPoint) {
            promises = []
            list.forEach(item => {
                details = item.rule
                log("CREATING RULE FOR " + details.name + " IN " + item.url);
                details = item.rule
                delete details.id;
                if (details.rules != undefined) {
                    details.rules.forEach(element => {
                        delete element.id;
                        if (element.methodRules != undefined) {
                            element.methodRules.forEach(item => {
                                delete item.id;
                            });
                        }
                    });
                }
                promises.push(retrieveDataService.addItem(item.url, item.token, details, endPoint));
            });
            if (promises.length == 0) {
                $scope.runIsDisabled = false;
            }
            else {
                $q.all(promises).then(function (addResults) {
                    addResults.forEach(element => {
                        log('id: ' + element.id + ' name: ' + element.name);
                        $scope.runIsDisabled = false;
                    });
                });
            }
        }
        function updateItems(list, endPoint) {
            promises = []
            list.forEach(item => {
                details = item.rule
                log("UPDATING RULE FOR " + details.name + " IN " + item.url);
                promises.push(retrieveDataService.updateItem(item.url, item.token, details, endPoint));
            });
            if (promises.length == 0) {
                $scope.runIsDisabled = false;
            }
            else {
                $q.all(promises).then(function (addResults) {
                    $scope.runIsDisabled = false;

                });
            }
        }
        function findItem(name, list) {
            var id = '';
            var responseName = '';
            list.forEach(item => {
                if (item.name.toLowerCase().replace(/ /g, '') == name.toLowerCase().replace(/ /g, '')) {
                    id = item.id;
                    responseName = item.name;
                }
            });

            if (id != '') {
                return { 'id': id, 'name': responseName };
            }
            return null
        }


        function compare(listA, listB, url, token) {
            var diff = []
            listA.forEach(element => {
                var isInList = false;
                for (var i = 0; i < listB.length; i++) {
                    if (element.name.toLowerCase() == listB[i].name.toLowerCase()) {
                        isInList = true;
                    }
                }
                if (!isInList) {
                    diff.push({ 'rule': element, 'url': url, 'token': token });
                }
            });
            return diff;
        }
        function log(message) {
            $('#log').append('<p>' + message + '</p>');
        }
    });
    class Environment {
        constructor(url, token) {
            this.url = url;
            this.token = token;
            this.config = null;
        };
    }
</script>